body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.header-container {
  color: royalblue;
  padding: 0.5rem;
}

.bookmarks-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookmark-container {
  min-width: 25rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.title {
  text-decoration: none;
  color: rgb(65, 105, 225, 0.7);
}

input {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid royalblue;
  color: rgb(65, 105, 225, 0.7);
}

::placeholder {
  color: rgb(65, 105, 225, 0.7);
}

button[type='submit'] {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: royalblue;
  color: white;
  font-weight: bolder;
  border: none;
}

.edit-button {
  cursor: pointer;
  color: teal;
  background-color: inherit;
  border: none;
}

.delete-button {
  cursor: pointer;
  color: rgb(240, 82, 82);
  background-color: inherit;
  border: none;
}

.bookmark-container:nth-of-type(2n) {
  background-color: rgb(230, 141, 141, 0.5);
}

.bookmark-container:nth-of-type(2n + 1) {
  background-color: rgb(172, 219, 110, 0.5);
}
